@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

/* Variables */
/* End Variables */

/* Global section */
* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #121212;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0 0 1rem 0;
}

.title {
  font-size: 3rem;
  gap: unset;
}

.title span {
  color: teal;
  text-shadow: 0 0 0.5rem teal;
}

.subtitle {
  font-size: 1rem;
  max-width: 400px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.show {
  display: unset;
}

.hide {
  display: none;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.button {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.15),
    5px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.button:hover {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.15),
    5px 5px 10px rgba(0, 0, 0, 0.6),
    inset -5px -5px 10px rgba(255, 255, 255, 0.15),
    inset 5px 5px 10px rgba(0, 0, 0, 0.6);
}
/* End Global section */

/* Header section */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 2rem);
  padding: 5rem 1rem;
  backdrop-filter: blur(10px);
  gap: 2rem;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: 0.3s ease all;
}

header a:not(.title):hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, teal, transparent);
  bottom: -0.5rem;
}

header a div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header img {
  width: 50%;
}

header .heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .icon {
  height: 1.5rem;
  width: 1.5rem;
}
/* End Header section */

/* Form section */
form {
  width: calc(100% - 4rem);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease all;
  gap: 2rem;
}

form input {
  background: #ffffff0f;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  color: unset;
  width: 40vw;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.5rem;
  backdrop-filter: blur(10px);
  text-align: center;
  transition: 0.3s ease all;
}

form input.scrolled {
  position: fixed;
  top: 0;
  width: calc(100% - 2rem);
  border-radius: unset;
  z-index: 100;
}

form input:focus,
form input:hover {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 10px rgba(255, 255, 255, 0.1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.4);
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

form .filters {
  background: #ffffff0f;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

form .filters .button {
  border: none;
  background: transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.3s ease all;
}

form .filters .button.active {
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.3);
}
/* End Form section */

/* Result section */
.result {
  background-color: #ffffff0f;
  width: 65vw;
  border-radius: 40px;
  padding: 2rem;
  gap: 2rem;
  transition: 0.3s ease all;
}

.result .icons-number {
  font-size: 1rem;
}

.result ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.result ul li {
  width: 8rem;
  height: 8rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease all;
  overflow: hidden;
}

.result ul li .icon {
  height: 3rem;
  width: 3rem;
}

.result ul li .tag {
  font-size: 0.65rem;
}

.result ul li .code {
  display: none;
}
/* End Result section */

/* No Result section */
.no_result {
  font-size: 1.5rem;
}
/* End No Result section */

/* Loading section */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 2rem;
}

.loading.hide {
  display: none;
}

.loading .loader {
  height: 3rem;
  width: 3rem;
  border: 10px solid gray;
  border-top-color: teal;
  border-radius: 50%;
  animation: 1s ease loading forwards infinite;
}
/* End Loading section */

/* Copy section */
.copied {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(25px);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 1.25rem;
  z-index: 100;
  opacity: 1;
  transition: 0.3s ease all;
  border-radius: 12px;
}

.copied.hide {
  opacity: 0;
}
/* End Copy section */

/* Animations */
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Animations */

/* Medias */
@media only screen and (max-width: 960px) {
  body {
    padding: 0;
  }
  .result {
    width: calc(100vw - 5rem);
    border-radius: 40px 40px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .title .subtitle {
    font-size: 0.75rem;
  }

  header a {
    font-size: 0.75rem;
  }

  header a div {
    gap: 0.25rem;
  }

  form input {
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  form .filters {
    padding: 1rem;
    width: calc(100% - 3rem);
  }

  .result {
    width: 100vw;
    border-radius: 40px 40px 0 0;
    padding: 1.5rem 0;
  }

  .result ul {
    gap: 1.5rem;
  }
}
/* End Medias */
